// Colors

$color-wh: #ffffff;
$color-yw: #F0EA6E;

// Fonts
$font-heading: 'Alamari';
$font-body: 'Red Rose';
$font-content: 'Red Rose';

// Fonts weight
$fw-light: 400;
$fw-bold: 700;
$fw-regular: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-heavy: 900;

// Font size
$fs-xxs: 12px;
$fs-xs: 14px;
$fs-sm: 20px;
$fs-md: 28px;
$fs-lg: 40px;
$fs-xl: 54px;
$fs-xxl: 140px;
