@use '../abstract/mixin' as *;
@use '../abstract/variables' as *;

.settings {

    p {
        font-family: $font-content;
        font-size: $fs-sm;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__header {

        width: 251px;
        height: 67px;
        margin-bottom: 48px;

        h2 {
            @include no-block-margins;
            font-size: $fs-xl;
            padding-left: 32px;
        }
    }

    &__left-side-container {
        width: 1100px;
        height: 100%;
    }

    &__right-side-container {
        width: 600px;
        height: 100%;
        margin-top: 100px;
    }

    input {
        cursor: pointer;
    }

    label {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    input[type="radio"] {
        display: none;
    }

    .radio {
        width: 24px;
        height: 24px;
        border: 2px solid #303131;
        border-radius: 50%;
        position: relative;
    }

    input[type="radio"]:checked+.radio::after {
        content: "";
        position: absolute;
        inset: 6px;
        background: #303131;
        border-radius: 50%;
        font-weight: 700;
        font-size: 20px;
    }

    li {
        font-family: $font-content;
        font-size: $fs-sm;
        @include flex-row-space-btw;
        cursor: pointer;
        justify-content: flex-start;
        gap: 16px;
        padding-bottom: 12px;
    }

    &__game-mode {
        width: 300px;
        gap: 12px;
        padding-left: 44px;
        margin-top: 24px;
    }

    &__game-mode-header {
        @include flex-row-center;
        justify-content: flex-start;
        gap: 8px;
        width: 244px;
        height: 32px;
    }

    &__theme_visual {
        @include background-img-setup;
        height: 420px;
        width: 460px;
        padding: 17px 7px 17px 7px;
        border-radius: 16px;

        &--gaming {
            background-image: url("/public/assets/img/settings/gaming_theme.png");
        }

        &--coding {
            background-image: url("/public/assets/img/settings/it_logos_theme.png");
        }

        &--projects {
            background-image: url("/public/assets/img/settings/da_projects_theme.png");
        }

        &--food {
            background-image: url("/public/assets/img/settings/foods_theme.png");
        }
    }

    &__theme_visual-selection_infoboard {
        width: 100%;
        height: 80px;
        @include flex-row-center;
        gap: 42px;
        background-color: #F6F6F6;
        padding: 14px 18px 14px 18px;
        align-items: center;

        span {
            @include background-img-setup;
            background-image: url("/public/assets/img/settings/game_settings_separator.png");
            height: 56px;
            width: 50px;
        }
    }

    button {
        @include flex-center;
        flex-direction: row;
        font-family: $font-body;
        font-size: $fs-sm;
        font-weight: $fw-bold;
        gap: 8px;
        padding: 14px 20px 14px 20px;
        width: 126px;
        height: 55px;
        background-color: rgba(219, 219, 214, 1);
        transform: none;

        span:first-child {
            background-image: url("/public/assets/img/settings/disable_smart_display.png");
            @include background-img-setup;
            height: 24px;
            width: 24px;
            transform: none;
        }

        &:enabled {
            cursor: pointer;
    
            span:first-child {
                background-image: url("/public/assets/img/settings/smart_display.png");
                transform: none;
            }
        }
    }

    button:not(:disabled) {
        background-color: rgba(240, 234, 110, 1);
    }
}