@use '../abstract/mixin' as *;
@use '../abstract/variables' as *;

body[data-theme="coding-theme"] {
    --color-bg: #303131;

    .game-header {

        &__nav-scoreboard-container {
            background: rgba(134, 233, 214, 0.2);
        }
    }

    .matched {
        border: 5px solid #4DD5BC;
        box-shadow: 6px 6px 8px rgba(77, 213, 188, 0.3);
    }

    .game-exit-overlay {
            background-color: #FFFFFF;
    
        & p {
            font-family: $font-content;
        }
    
        &__button_quit {
            background-color: #FFFFFF;
            font-family: $font-content;
            font-size: 18px;
            font-weight: 700px;
            color: #4DD5BC;
            border: 2px solid #4DD5BC;
          }

          &__button_back {
            background-color: #66CFBC;
            font-family: $font-content;
            font-size: 18px;
            font-weight: 700px;
            color: #FFFFFF;
          }
    }

    .score {
        background-color: #303131;
    
        h3 {
          color: #4DD5BC;
          font-family: 'Orbitron';
          font-size: 124px;
          box-shadow: rgba(77, 213, 188, 0.5);
        }
    
        &__subtitle {
          color: white;
          font-family: $font-content;
          font-size: 26px;
          font-weight: 400;

        }
      }

      .game-over {
        gap: 20px;
      }

}