@use '../abstract/mixin' as *;
@use '../abstract/variables' as *;

body[data-theme="food-theme"] {
    --color-bg: #FFFFFF;

    .game-header {
        border-radius: 10px;
        background-color: rgba(240, 229, 217, 1);

        &__nav-scoreboard-container {
            justify-content: center;
            align-items: center;
            padding: 17px 20px 17px 20px;
            height: 55px;
        }

        &__exit {
            padding: 12px 20px 12px 20px;
            border-radius: 10px;
            background-color: rgba(191, 229, 242, 1);
            font-family: 'Delius Unicase';
            color: #F3832D;
            font-size: 20px;
            background-color: #FFF9F2;
            border: 3px solid #F3832D;

            span {
                @include background-img-setup;
                background-image: url("/public/assets/img/game/food_exit_button.png");
                height: 22px;
                width: 22px;
            }

            &:hover {
                background-color: #F3832D;
                transform: none;
                color: #FFFFFF;

                span {
                    @include background-img-setup;
                    background-image: url("/public/assets/img/game/exit_button.png");
                    height: 22px;
                    width: 22px;
                    transform: none;
                }
            }
        }

        &__current-player {
            @include flex-row-space-btw;
            gap: 4px;
            align-items: center;

            &-img {
                width: 32px;
                height: 32px;
                padding: 2px;
            }

            p {
                font-family: 'Klee One';
                font-size: 24px;
                font-weight: 700;
                color: #A45212;
                width: 188px;
            }

            .activePlayerBlue {
                background-color: #097FC5;
            }

            .activePlayerOrange {
                background-color: #EA6900;
            }
        }

        &__playerOrange {
            font-family: 'Delius Unicase';
        }

        &__playerBlue {
            font-family: 'Delius Unicase';
        }
    }

    .matched {
        border: 4px solid #F3832D;
        box-shadow: 6px 6px 8px rgba(237, 27, 118, 0.3)
    }

    .game-exit-overlay {

        &__container {
            background-color: #F6F6F6;
        }

        & p {
            font-family: 'Klee One';
        }

        &__buttons {
            width: 360px;
        }

        &__button_quit {
            background-color: #FFF9F2;
            font-family: 'Delius Unicase';
            font-size: 16px;
            font-weight: 700;
            color: #F3832D;
            border: 3px solid #F3832D;
            width: 100%;
        }

        &__button_back {
            background-color: #FFAB3E;
            font-family: 'Delius Unicase';
            font-size: 16px;
            font-weight: 700;
            color: #FFFFFF;
            border: 3px solid #F3832D;
            width: 100%;

            &:hover {
                background-color: #F3832D;
            }
        }
    }

    .score {
        height: 100vh;
        background-color: #F3832D;

        h3 {
            color: #FFFFFF;
            font-family: 'Klee One';
            font-size: 130px;
            font-weight: 600;
        }


        &__subtitle {
            color: white;
            font-family: 'Klee One';
            font-size: 42px;
            font-weight: 600;
        }

        &__final-score {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__final-scoreboard-container {
            background-color: #FFFFFF;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 80px;
            gap: 40px;
        }

        &__final-scoreBoardPlayerOrange-img, &__final-scoreBoardPlayerBlue-img {
            width: 24px;
            height: 30px;
        }

        &__final-players {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        &__final-playerOrange {
            font-size: 28px;
            font-weight: 700;
            font-family: 'Red Rose';
            color: #EA6900;
        }

        &__final-playerBlue {
            font-size: 28px;
            font-weight: 700;
            font-family: 'Red Rose';
            color: #097FC5;
        }
    }

    .game-over {
        gap: 20px;
        max-width: 1440px;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        &__confetti {
            max-width: 1200px;
            height: 350px;
        }

        &__endscreen {
            width: 430px;
            height: 580px;
            gap: 20px;
            @include flex-center;
        }

        &__winner {
            font-family: 'Klee One';
            @include no-block-margins;
            font-weight: 400;
            font-size: 40px;
            color: #A45212;
        }

        &__winner_orange {
            font-family: 'Klee One';
            @include no-block-margins;
            font-weight: 700;
            font-size: 60px;
            color: #A45212;
        }

        &__winner_blue {
            font-family: 'Klee One';
            @include no-block-margins;
            font-weight: 700;
            font-size: 60px;
            color: rgba(43, 177, 255, 1);
        }

        &__winner_draw {
            font-family: 'Klee One';
            @include no-block-margins;
            font-weight: 700;
            font-size: 60px;
            color: #F3832D;
        }

        &__winner_img {
            @include background-img-setup;
            height: 300px;
            width: 250px;
        }

        .winner-blue {
            background-image: url(/public/assets/img/game-over/foods/food_winner_blue_chess_pawn.png);
        }

        .winner-orange {
            background-image: url(/public/assets/img/game-over/foods/food_winner_orange_chess_pawn.png);
        }

        .winner-draw {
            background-image: url(/public/assets/img/game-over/foods/food_score_draw_chess_pawn.png);
        }

        button {
            width: 250px;
            height: 60px;
            font-family: 'Delius Unicase';
            font-weight: 400;
            font-size: 24px;
            color: #FFFFFF;
            background-color: #F3832D;
            padding: 16px 24px 16px 24px;
            @include flex-center;
        }

    }


}