@use '../abstract/mixin' as *;
@use '../abstract/variables' as *;

body[data-theme="gaming-theme"] {
  --color-bg: #294F60;

  .game-header {
    border-radius: 10px;
    background-color: rgba(253, 150, 201, 0.2);

    &__nav-scoreboard-container {
      justify-content: center;
      align-items: center;
      padding: 12px 20px 12px 20px;
      height: 40px;
      background-color: #FFFFFF;
      @include no-block-margins;
      margin-left: 16px;
      border-radius: 10px;
    }

    &__exit {
      padding: 12px 20px 12px 20px;
      border-radius: 10px;
      background-color: rgba(237, 27, 118, 0.08);
      font-family: 'Orbitron';
      color: #FFFFFF;
      font-size: 20px;
      border: 2px solid #E71C4F;

      span {
        @include background-img-setup;
        background-image: url("/public/assets/img/game/exit_button.png");
        height: 30px;
        width: 30px;
        transform: none;
      }

      &:hover {
        background-color: rgba(237, 27, 118, 0.14);
        transform: none;
        color: #FFFFFF;
        border: 3px solid #E71C4F;

        span {
          @include background-img-setup;
          background-image: url("/public/assets/img/game/game_exit_button.png");
          height: 30px;
          width: 30px;
          transform: none;
        }
      }
    }

    &__current-player {
      @include flex-row-space-btw;
      gap: 10px;
      align-items: center;

      &-img {
        width: 38px;
        height: 34px;
        padding: 2px;
      }

      p {
        font-family: 'Orbitron';
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        @include no-block-margins;
      }

      .activePlayerBlue {
        background-color: #097FC5;
      }

      .activePlayerOrange {
        background-color: #EA6900;
      }
    }

    &__nav-players {

      img {
          width: 100%;
          height: 28px;
          margin: 0;
      }
  }

    &__playerOrange {
      font-family: 'Orbitron';
      color: #EA6900;
    }

    &__playerBlue {
      font-family: 'Orbitron';
      color: #097FC5;
    }
  }

  .card {
    width: 105px;
    height: 120px;
  }

  .matched {
    border: 3px solid #ED1B76;
    width: 105px;
    height: 120px;
  }

  .game-exit-overlay {

    &__container {
      background-color: #F0F6F9;
    }

    & p {
      font-family: 'Orbitron';
      font-weight: 700;
      font-size: 28px;
      text-align: center;
    }

    &__buttons {
      width: 360px;
    }

    &__button_quit {
      background-color: rgba(237, 27, 118, 0.08);
      font-family: 'Orbitron';
      font-size: 16px;
      font-weight: 700;
      color: rgba(237, 27, 118, 1);
      border: 2px solid rgba(231, 28, 79, 1);
      width: 100%;
      padding: 12px 20px 12px 20px;
    }

    &__button_back {
      background-color: #ED1B76;
      font-family: 'Orbitron';
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      border: 1px solid #E71C4F;
      width: 100%;
      padding: 12px 20px 12px 20px;

      &:hover {
        background-color: rgba(242, 199, 218, 0.08);
        border: 2px solid #E71C4F;
        color: #ED1B76;
      }
    }
  }

  .score {
    height: 100vh;

    h3 {
      color: #ED1B76;
      font-family: 'Orbitron';
      font-size: 124px;
      font-weight: 900;
      line-break: 7%;
    }


    &__subtitle {
      color: white;
      font-family: 'Orbitron';
      font-size: 42px;
      font-weight: 700;
      line-break: 7%;
    }

    &__final-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__final-scoreboard-container {
      background-color: #FFFFFF;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 380px;
      height: 80px;
      gap: 40px;
      border-radius: 10px;
    }

    &__final-scoreBoardPlayerOrange-img,
    &__final-scoreBoardPlayerBlue-img {
      width: 24px;
      height: 30px;
    }

    &__final-players {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    &__final-playerOrange {
      font-size: 28px;
      font-weight: 700;
      font-family: 'Orbitron';
      color: #EA6900;
    }

    &__final-playerBlue {
      font-size: 28px;
      font-weight: 700;
      font-family: 'Orbitron';
      color: #097FC5;
    }
  }

  .game-over {
    gap: 20px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__confetti {
      max-width: 1200px;
      height: 350px;
    }

    &__endscreen {
      width: 430px;
      height: 580px;
      gap: 20px;
      @include flex-center;
    }

    &__winner {
      font-family: 'Orbitron';
      @include no-block-margins;
      font-weight: 700;
      font-size: 28px;
      color: #FFFFFF;
      line-break: 7%;
    }

    &__winner_orange {
      font-family: 'Orbitron';
      @include no-block-margins;
      font-weight: 700;
      font-size: 60px;
      color: #EA6900;

    }

    &__winner_blue {
      font-family: 'Orbitron';
      @include no-block-margins;
      font-weight: 700;
      font-size: 60px;
      color: rgba(43, 177, 255, 1);
      box-shadow: rgba(0, 0, 0, 0.25);
      line-break: 7%;
    }

    &__winner_draw {
      font-family: 'Orbitron';
      @include no-block-margins;
      font-weight: 700;
      font-size: 128px;
      color: #ED1B76;
      line-break: 7%;
    }

    &__winner_img {
      @include background-img-setup;
      height: 300px;
      width: 250px;
    }

    .winner-blue {
      background-image: url(/public/assets/img/game-over/gaming/gaming_winner.png);
    }

    .winner-orange {
      background-image: url(/public/assets/img/game-over/gaming/gaming_winner.png);
    }

    .winner-draw {
      background-image: url(/public/assets/img/game-over/gaming/final_score_gaming_draw.png);
    }

    button {
      width: 250px;
      height: 60px;
      font-family: 'Orbitron';
      font-weight: 400;
      font-size: 24px;
      color: #FFFFFF;
      padding: 16px 24px 16px 24px;
      @include flex-center;
      border-radius: 10px;
      border: 2px solid #E71C4F;
      background-color: #294F60;
    }

  }


}